<!DOCTYPE html>
<html lang="jp">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
  <link href="https://use.fontawesome.com/releases/v6.2.0/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.deep_purple-pink.min.css">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://unpkg.com/vue-i18n@9"></script>
  <script src="https://unpkg.com/vue-router@4.0.15/dist/vue-router.global.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue3-sfc-loader/dist/vue3-sfc-loader.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="script/const.js"></script>
  <script type="text/javascript" src="script/localization.js"></script>
  <script type="text/javascript" src="script/vue.js"></script>
  <link rel="stylesheet" href="css/styles.css">
  <script>
    //loadによるイベント登録
    window.addEventListener("load", function () {
      lockScreen()
        .then(function () {
        })
        .then(function () {
          return unlockScreen();
        });
    }, false);
  </script>
  <!-- Wide card with share menu button -->
  <style>
    .demo-card-wide.mdl-card {
      width: 512px;
    }

    .demo-card-wide>.mdl-card__title {
      color: #fff;
      height: 176px;
      background: url('../assets/demos/welcome_card.jpg') center / cover;
    }

    .demo-card-wide>.mdl-card__menu {
      color: #fff;
    }
  </style>
</head>

<body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
  <div id="app">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        </div>
        <div class="mdl-layout__tab-bar">
          <!-- Left aligned menu below button -->
          <button id="demo-menu-lower-left" class="mdl-button mdl-js-button mdl-button--icon">
            <i class="fa-solid fa-globe"></i>
          </button>        
          <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-left">
            <li class="mdl-menu__item" v-on:click="changeLanguage('ja')">{{ $t("ja") }}</li>
            <li class="mdl-menu__item" v-on:click="changeLanguage('en')">{{ $t("en") }}</li>
          </ul>
      </div>
      </header>
      <main class="mdl-layout__content">
        <div class="mdl-layout__tab-panel is-active" id="overview">
          <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
              <div class="mdl-card__supporting-text">
                <div class="mdl-grid">
                  <div class="mdl-cell mdl-cell--6-col">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input class="mdl-textfield__input searchText" type="text" id="search_accountId">
                      <label class="mdl-textfield__label" for="search_accountId">{{ $t("accountId") }}</label>
                    </div>
                  </div>
                  <div class="mdl-cell mdl-cell--6-col">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input class="mdl-textfield__input searchText" type="text" id="search_accountName">
                      <label class="mdl-textfield__label" for="search_accountName">{{ $t("accountName") }}</label>
                    </div>
                  </div>
                  <div class="mdl-cell mdl-cell--6-col">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input class="mdl-textfield__input searchText" type="text" id="accountRead">
                      <label class="mdl-textfield__label" for="search_accountRead">{{ $t("accountRead") }}</label>
                    </div>
                  </div>
                  <div class="mdl-cell mdl-cell--6-col">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <select class="mdl-textfield__input searchSelect" id="search_active" required>
                        <option v-for="data in activeList" v-bind:value="data.id" v-bind:key="data.id">
                          {{ $t("active." + data.id) }}
                        </option>
                      </select>
                      <label for="search_active" class="mdl-textfield__label">{{ $t("activeInfo") }}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mdl-card__actions">
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" v-on:click="get">
                  <i class="fa-brands fa-searchengin"></i>
                </button>
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored"
                  v-on:click="openDialog('new')">
                  <i class="fa-solid fa-plus"></i>
                </button>
              </div>
            </div>
          </section>
          <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
              <div class="mdl-card__supporting-text">
                <table class="mdl-data-table mdl-js-data-table" style="width:100%; min-width: 100px;">
                  <thead>
                    <tr>
                      <th></th>
                      <th>{{ $t("accountId") }}</th>
                      <th>{{ $t("resourceId") }}</th>
                      <th>{{ $t("accountName") }}</th>
                      <th>{{ $t("accountRead") }}</th>
                      <th>{{ $t("password") }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(member, index) in items" :key="index">
                      <td class="mdl-data-table__cell--non-numeric">
                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored"
                          v-on:click="openDialog('edit', member.accountId)">
                          <i class="fa-solid fa-pencil"></i>
                        </button>
                      </td>
                      <td class="mdl-data-table__cell--non-numeric">{{ member.accountId }}</td>
                      <td class="mdl-data-table__cell--non-numeric">{{ member.resourceId }}</td>
                      <td class="mdl-data-table__cell--non-numeric">{{ member.accountName }}</td>
                      <td class="mdl-data-table__cell--non-numeric">{{ member.accountRead }}</td>
                      <td class="mdl-data-table__cell--non-numeric">{{ member.password }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </section>
        </div>
      </main>
    </div>
    <dialog class="mdl-dialog" style="width: 900px;">
      <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
        <div class="mdl-card mdl-cell mdl-cell--12-col">
          <div class="mdl-card__supporting-text">
            <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--12-col">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="dialog_div_accountId">
                  <input class="mdl-textfield__input dialogText" type="text" id="dialog_accountId" required>
                  <label class="mdl-textfield__label" for="dialog_accountId">{{ $t("accountId") }}</label>
                  <span class="mdl-textfield__error">{{ $t("NotNull") }}</span>
                </div>
              </div>
              <div class="mdl-cell mdl-cell--12-col">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="dialog_div_resourceId">
                  <input class="mdl-textfield__input dialogText" type="text" id="dialog_resourceId" v-on:focus="focusIn" v-on:blur="focusOut" required>
                  <label class="mdl-textfield__label" for="dialog_resourceId">{{ $t("resourceId") }}</label>
                  <span class="mdl-textfield__error" id="dialog_error_resourceId">{{ $t("NotNull") }}</span>
                </div>
              </div>
              <div class="mdl-cell mdl-cell--12-col">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="dialog_div_accountName">
                  <input class="mdl-textfield__input dialogText" type="text" id="dialog_accountName" v-on:focus="focusIn" v-on:blur="focusOut" required>
                  <label class="mdl-textfield__label" for="dialog_accountName" id="dialog_label_accountName">{{ $t("accountName") }}</label>
                  <span class="mdl-textfield__error" id="dialog_error_accountName">{{ $t("NotNull") }}</span>
                </div>
              </div>
              <div class="mdl-cell mdl-cell--12-col">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="dialog_div_accountRead">
                  <input class="mdl-textfield__input dialogText" type="text" id="dialog_accountRead" v-on:focus="focusIn" v-on:blur="focusOut" required>
                  <label class="mdl-textfield__label" for="dialog_accountRead" id="dialog_label_accountRead">{{ $t("accountRead") }}</label>
                  <span class="mdl-textfield__error" id="dialog_error_accountRead">{{ $t("NotNull") }}</span>
                </div>
              </div>
              <div class="mdl-cell mdl-cell--12-col">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="dialog_div_mailaddress">
                  <input class="mdl-textfield__input dialogText" type="text" id="dialog_mailaddress" v-on:focus="focusIn" v-on:blur="focusOut" required>
                  <label class="mdl-textfield__label" for="dialog_mailaddress" id="dialog_label_mailaddress">{{ $t("mailaddress") }}</label>
                  <span class="mdl-textfield__error" id="dialog_error_mailaddress">{{ $t("NotNull") }}</span>
                </div>
              </div>
              <div class="mdl-cell mdl-cell--12-col">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="dialog_div_password">
                  <input class="mdl-textfield__input dialogText" type="text" id="dialog_password" v-on:focus="focusIn" v-on:blur="focusOut" required>
                  <label class="mdl-textfield__label" for="dialog_password" id="dialog_label_password">{{ $t("password") }}</label>
                  <span class="mdl-textfield__error" id="dialog_error_password">{{ $t("NotNull") }}</span>
                </div>
              </div>
              <div class="mdl-cell mdl-cell--12-col">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select" id="dialog_div_active">
                  <select class="mdl-textfield__input dialogSelect" id="dialog_active" required>
                    <option v-for="data in activeList" v-bind:value="data.id" v-bind:key="data.id">
                      {{ $t("active." + data.id) }}
                    </option>
                  </select>
                  <label for="sample3" class="mdl-textfield__label">{{ $t("activeInfo") }}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="mdl-card__actions">
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" v-on:click="dialogProccess">
              <i class="fa-regular fa-circle-check"></i>
            </button>
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored"
              v-on:click="closeDialog('edit')">
              <i class="fa-regular fa-circle-xmark"></i>
            </button>
          </div>
        </div>
      </section>

    </dialog>
  </div>

  <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>

</html>